body { 
  background-color: rgb(255, 255, 255);
     display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin: 0;  
}
.header{
  width: 100%;
  background-color: #a0dfd1;
  height: 60px;
  text-align: center;
  margin-top: -15.5%;
}

.logo{
 padding: 12px;
 width: 100px;
}
* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.etapa3 {
    height: 236px;
    width: 538px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 12px;
    margin-top: 5%;
margin-left: -.5rem;
    position: relative;
    
  }

  .etapa3 p {
    margin-top: 10%;
    text-align: center;
    font-weight:bold;
    font-size: 26px;
  }

  .etapa3::before {
      content: "3";
      position: absolute;
      top: -7%;
      left: 50%;
      transform: translateX(-50%);
      width: 40px; 
      height: 40px;
      border-radius: 50%;
      background-color: black;
      border: 2px solid black; 
      color: white;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

    }

    .years {
      border-bottom: 2px solid silver;
      border-left: none;
      border-right: none;
      border-top: none;
      margin-top: 2%;
      margin-left: 42%;
      width: 60px;
      font-size: 27px;
      text-indent: 15px;
      padding-bottom: 4px;
      font-weight: bold;
      transform: scale(1.6);
      
      
    }
    .years:focus {
      outline: none;
    }
    .years:focus,
  .years:valid{
  border-color: #5ca5e0;
  }
    .años {
      font-size: 17.5px;
      font-weight: bold;
      color: rgba(102, 101, 101, 0.712);
      margin-left: 3%;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
/* ETAPA4 */
.etapa4 {
  height: 236px;
  width: 538px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 12px;
  margin-top: -14.8rem;
  margin-left: 36rem;
  position: relative;
}
.etapa4::before {
    content: "4";
    position: absolute;
    top: -7%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: black;
    border: 2px solid black; 
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .imagen-container {
    display: flex;
    margin-top: -3%;
    margin-left: 24%;
  }
  
  .hombre img {
    width: 100px;
   
  }
  .mujer img{
    width: 92px;
    margin-top: 4%;
    margin-left: 100%;
  }
  .hombre input {
    display: block;
    margin-top: 2%;
    margin-left: 45%;
    transform: scale(1.5);
    position: relative;

  }
.mujer input {
  display: block;
  margin-top: 5%;
  margin-left: 144%;
  transform: scale(1.5);
 
}

.etapa4 p {
  margin-top: 10%;
  text-align: center;
  font-weight:bold;
  font-size: 26px;
}


.ingresar {
  width: 20%;
  margin-top: 3rem;
  margin-left: 27.5rem;
  margin-bottom: 6rem;
  border-radius: 10px;
border: 1px solid #5ca5e0;
background-color: #5ca5e0;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
  cursor: pointer;
  height: 11%;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 5rem;

}
